.container {
  width: 1286px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 29px 100px 30px 94px;
  // .active {
  //   border-bottom: 2px solid color;
  //   transform: scale(1.1);
  //   transition: border-bottom 0.3s ease, color 0.3 ease;
  // }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: forLogo;
      font-size: 34px;
      font-weight: 700;
      margin-left: 5px;
    }
  }
  nav {
    ul {
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: black;
      }
      .active {
        color: rgb(184, 142, 47);
        border-bottom: 2px solid;
      }
    }
  }
  .fonto {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
