<div class="container">
  <div class="logo">
    <img src="../../assets/images/Meubel House_Logos-05.svg" alt="logo" />
    <span>Furniro</span>
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="">Hhop</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
  <div class="fonto">
    <i class="fa-regular fa-user fa-lg"></i>
    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    <i class="fa-regular fa-heart fa-lg"></i>
    <img src="../../assets/images/Vector.svg" alt="cart" />
  </div>
</div>
