<div class="container">
  <div class="text">
    <h2>50+ Beautiful rooms inspiration</h2>
    <p>
      Our designer already made a lot of beautiful prototipe of rooms that
      inspire you
    </p>
    <button routerLink="/shop" class="button">Explore More</button>
  </div>
  <div class="carousel"></div>
  <swiper-container
    class="mySwiper"
    loop="true"
    keyboard="true"
    space-between="30"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
  >
    <swiper-slide>-
      <img src="../../../assets/images/Rectangle 24.png" alt="" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/image 2.png" alt="" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/image 3.png" alt="" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/images/image 4.png" alt="" />
    </swiper-slide>
  </swiper-container>
</div>
