<div class="container">
  <div class="navs">
    <div class="funiro">
      <h3>Funiro.</h3>
      <p>
        400 University Drive Suite 200 Coral <br />
        Gables,<br />
        FL 33134 USA
      </p>
    </div>
    <div class="links">
      <span>Links</span>
      <nav>
        <ul>
          <li>
            <a
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLink="/shop"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Shop</a
            >
          </li>
          <li>
            <a
              routerLink="/about"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >About</a
            >
          </li>
          <li><a routerLink="">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="help">
      <span>Help</span>
      <nav>
        <ul>
          <li><a href="">Payment Options</a></li>
          <li><a href="">Returns</a></li>
          <li><a href="">Privacy Policies</a></li>
        </ul>
      </nav>
    </div>
    <div class="mail">
      <span>Newsletter</span>
      <div class="email">
        <input type="email" name="email" placeholder="Your Email Address" />
        <button type="submit">Subscribe</button>
      </div>
    </div>
  </div>
  <!-- <div class="line"></div> -->
  <span class="last">2023 furino. All rights reverved</span>
</div>
