<div class="login">
  <h2>Login To Furniro</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="forms">
      <label for="">Emale Address</label>
      <input
        type="email"
        name="email"
        formControlName="email"
        placeholder="Emale Address"
      />
      <small
        class="errors"
        *ngIf="(email.invalid && email.dirty) || email.touched"
        ><div *ngIf="email.errors?.['required']">email is required</div>
        <div *ngIf="email.errors?.['email']">Enter a valid email</div></small
      >
    </div>
    <div class="forms">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <small
        class="errors"
        *ngIf="(password.invalid && password.dirty) || password.touched"
        ><div *ngIf="password.errors?.['required']">
          password is required
        </div></small
      >
    </div>
  </form>
  <div class="button">
    <button
      type="submit"
      class="login-button"
      [disabled]="loginForm.invalid"
      (click)="login()"
    >
      Login
    </button>
    <p>Do not have an account yet?<a routerLink="../register">Register </a></p>
  </div>
</div>
