.login {
  width: 400px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h2 {
    color: rgb(50, 49, 66);
    font-family: "Poppins", sans-serif;
    font-size: 35.25px;
    font-weight: 600;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .forms {
      display: flex;
      flex-direction: column;
      input {
        width: 211px;
        height: 45px;
        box-sizing: border-box;
        border: 1px solid rgb(159, 159, 159);
        border-radius: 10px;
        background: rgb(255, 255, 255);
      }
    }
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .errors {
    color: red;
  }
}
