.container {
  .cart {
    h5 {
      font-family: Poppins;
    }
    height: 60vh;
    padding: 25px;
    border: solid black 1px;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
      text-decoration: none;
      color: inherit;
      border: none;
      outline: none;
      height: 162px;
      width: 250px;
      margin: 20px 0px;
    }
    h4 {
      font-family: Poppins;
      font-size: 20px;
    }
    h6 {
      font-family: Poppins;
      font-size: 15px;
      margin: 17px;
    }
  }
  .cart-product {
    border: solid black 1px;
    padding: 5px;
    margin: 0 auto;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    img {
      width: 120px;
      height: 120px;
    }
    button {
      background-color: red;
      border-radius: 5px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      img {
        width: 20px;
        height: 20px;
      }
    }
    button:hover {
      background-color: rgb(214, 37, 37);
    }
  }
  .buttons_bot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .red {
      background-color: red;
      font-family: Poppins;
      color: white;
      border: none;
      padding: 6px;
      border-radius: 5px;
      cursor: pointer;
    }
    .red:hover {
      background-color: rgb(214, 37, 37);
    }
    .blue {
      background-color: rgb(38, 38, 241);
      font-family: Poppins;
      color: white;
      border: none;
      padding: 6px;
      border-radius: 5px;
      margin: 10px 20px 10px 20px;
      cursor: pointer;
    }
  }
}
